.restaurant-detail-page {
    background-color: #f3f4f6;
    min-height: 100vh;
}

.restaurant-hero {
    background-image: url("https://images.unsplash.com/photo-1555396273-367ea4eb4db5?q=80&w=1000&auto=format&fit=crop");
    background-size: cover;
    background-position: center;
}